**/GNU ARM v7.2.1 - Default/*
**.LOG
**/__Previews/*.SchDocPreview
**/History/
*.PcbDocPreview
**/__Previews/*.PcbDocPreview
Gateway/__Previews/Gateway.PcbDocPreview
Gateway/__Previews/*.PcbDocPreview
