**/GNU ARM v7.2.1 - Default/*
*.LOG
BT Mesh/__Previews/Gecko.SchDocPreview
BT Mesh/__Previews/Gecko.SchDocPreview
BT Mesh/__Previews/Regulator.SchDocPreview
*.SchDocPreview
BT Mesh/__Previews/Gecko.SchDocPreview
Gateway/__Previews/PMIC.SchDocPreview
